<div class="container">
    <div class="header">
        <div class="header__content">
            <div class="flex"> <img src="/assets/images/Back.svg" (click)="back()" class="cursor">
                <h1 class="header__title">Fiction</h1>
            </div>
            <div class="search-container" [class.focused]="isFocused">
                <img src="../../../assets/images/Search.svg" class="search-icon">
                <input type="text" class="search-input" placeholder="Search" [(ngModel)]="searchText"
                    (focus)="isFocused = true" (blur)="isFocused = false" (input)="onInputChange()">
                <img src="../../../assets/images/Cancel.svg" *ngIf="searchText.length > 0" (click)="clearSearch()"
                    class="clear-icon">
            </div>
        </div>
    </div>
    <div class="body">
        <div *ngIf="isLoading" class="loading-indicator">
            Loading...
        </div>
        <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
        </div>
        <div class="body__content">
            <div class="image-card" *ngFor="let book of booksData.results" (click)="onBookClick(book)">
                <div class="image-container">
                    <img [src]="book.formats['image/jpeg']" alt="Cover of {{book.title}}"
                        (error)="handleImageError($event)">
                </div>
                <div class="card-text">
                    <p class="book-name"> {{book.title}}</p>
                    <p *ngFor="let author of book.authors" class="author">
                        {{author.name}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>